<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a54879e6c0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <title>Adminsitración de Inventario</title>
</head>

<body>
    <%-include ('partials/_header') %>

    <div class="container">
        <div class="cards">
            <div class="card">
                <div class="card-logo">
                    <i class="fas fa-users-cog"></i>
                </div>
                <a href="/index/operations">Administrar usuarios y clientes</a>
            </div>

            <div class="card">
                <div class="card-logo">
                    <i class="fas fa-cart-plus reduce-size"></i>
                </div>
                <a href="/api/sales/sales">Ventas</a>
            </div>

            <div class="card">
                <div class="card-logo">
                    <i class="fas fa-coins reduce-size"></i>
                </div>
                <a href="/index/finances">Finanzas</a>
            </div>
        </div>
    </div>
</body>

</html>