<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a54879e6c0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <title>Adminsitración de proveedores</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="nav-bar">
                <div class="img">
                    <img src="/img/logo.jpeg" class="logo" alt="Logo miscelanea esmeralda">
                </div>

                <nav>
                    <ul>
                        <li>
                            <a href="#">Inicio</a>
                        <li>
                            <a href="#">Adminsitración de usuarios</a>
                        </li>

                        <li>
                            <a href="#">Ventas</a>
                        </li>

                        <li>
                            <a href="#">Finanzas</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="cards">
            <div class="card">
                <div class="card-logo">
                    <i class="fas fa-plus-square"></i>
                </div>
                <a href="/api/supplier/show-form">Crear proveedor</a>
            </div>

            <div class="card">
                <div class="card-logo">
                    <i class="fas fa-users"></i>
                </div>
                <a href="/api/supplier/get-supplier">Listar proveedores</a>
            </div>
        </div>
    </div>
</body>

</html>