<header>
    <div class="container">
        <div class="nav-bar">
            <div class="img">
                <img src="/img/logo.jpeg" class="logo" alt="Logo miscelanea esmeralda">
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/index">Inicio</a>
                    <li>
                        <a href="/index/operations">Adminsitración de usuarios</a>
                    </li>

                    <li>
                        <a href="/api/sales/sales">Ventas</a>
                    </li>

                    <li>
                        <a href="/index/finances">Finanzas</a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</header>